<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>Participants Management
        <%= link_to new_participant_path do %>
          <btn class="btn btn-primary pull-right p-index-btn"><%= fa_icon "plus" %> Add New Participant</btn>
        <% end %>
      </h3>
      <hr>
      <table class="table table-striped" id="users-table">
        <thead>
        <th>Participant ID</th>
        <th>Gender</th>
        <th>Group</th>
        <th></th>
        </thead>
        <tbody>
        <% @participants.each do |participant| %>
          <tr>
            <td><%= participant.pid %></td>
            <td><%= participant.gender %></td>
            <td><%= participant.group%></td>
            <td>
              <%= link_to(edit_participant_path(participant), :class => 'btn btn-xs btn-primary') do %>
                <%= fa_icon "pencil" %> Edit
              <% end %>


              <a class="btn btn-xs btn-default resend-invite" id="<%= participant.id %>" data-pid="<%= participant.pid %>"><%= fa_icon "envelope-o" %> Resend Invite Mail</a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Resend Invite Email</h4>
      </div>
      <div class="modal-body">
        <p>Please enter the email address of participant <span id="pid"></span>. Note that this address is not stored.</p>
        <input class="form-control" id="invite-email" placeholder="address@domain.com" />

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="email-submit">Send email</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  // Initialise the user table
  $('#users-table').dataTable({
    "aoColumnDefs": [
      { 'bSortable': false, 'aTargets': [ 3 ] }
    ],
    "aLengthMenu": [[25, 50, 100, 200, -1], [25, 50, 100, 200, "All"]],
    "iDisplayLength": 25
  });

  // User Role Change AJAX submit
  $('#user_role').on('change', function(e) {
    var $form = $(this).parent('form');
    $.post($form.attr('action'), $form.serialize());
  })

  $('.resend-invite').on('click', function() {
    $('span#pid').text($(this).data('pid'));
    $('#email-submit').data('id', $(this).attr('id'));
    $('input#invite-email').val('');
    $('.modal').modal();
  })

  $('#email-submit').on('click', function() {
    var id = $(this).data('id');
    var emailAddress = $('input#invite-email').val();
    $.ajax({
      method: 'post',
      url: 'participants/' + id + '/resend_invite',
      data: {email: emailAddress},
      complete: function(data) {
        alert(data.responseText);
        $('input#invite-email').val('');
        $('.modal').modal('hide');
      }
    })
  })
</script>
