<div class="col-md-3 food-search-bar" style="display:none;">
  <div class="food-wrapper">
    <h3>Foods</h3>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% FoodCategory.all.each_with_index do |fc, index| %>
      <% food_category_id = fc.name.gsub(' ', '').gsub('&', '').gsub(',','').underscore %>
      <div class="panel panel-default" id="<%= food_category_id %>">
        <a data-toggle="collapse" data-parent="#accordion" href="#<%= "collapse-#{index}"%>" aria-expanded="true" aria-controls="<%= "collapse-#{index}"%>" data-endpoint="<%= search_category_path(fc) %>" id="<%= food_category_id %>">
        <div class="panel-heading" role="tab" id="<%= "heading-#{index}"%>">
          <h4 class="panel-title">
            <%= "#{fc.name} (#{fc.foods.count})" %>
          </h4>
        </div>
          </a>
        <div id="<%= "collapse-#{index}"%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="<%= "heading-#{index}"%>" data-id="<%= food_category_id %>">
          <div class="panel-body">
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('.panel-collapse').on('show.bs.collapse', function() {
    var $this = $(this);
    var fcId = $this.data('id');
    $(".panel:not(#"+ fcId +")").hide();

    var fcEndpoint = $('a#'+fcId).data('endpoint');

    if (!$this.hasClass('loaded')){
      $.ajax({
        url: fcEndpoint,
        async: false,
        success: function(data) {
          $this.html(data);
          $this.addClass('loaded');
        }
      })
    }
  });

  $('.panel-collapse').on('hide.bs.collapse', function() {
    var fcId = $(this).data('id');
    $(".panel:not(#"+ fcId +")").show();
  })
</script>