<div class="col-md-3 food-search-bar" style="display:none;">
  <div class="food-wrapper">
    <h3>Foods</h3>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default" id="all">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-all" aria-expanded="true" aria-controls="collapse-all" data-endpoint="<%= search_all_path %>" id="all">
          <div class="panel-heading" role="tab" id="heading-all">
            <h4 class="panel-title">
              Show All Foods <span class="close-icon pull-right" style="display: none;"><%= fa_icon 'times' %></span>
            </h4>
          </div>
        </a>
        <div id="collapse-all" class="panel-collapse collapse" role="tabpanel" aria-labelledby=heading-all" data-id="all">
          <div class="panel-body">
          </div>
        </div>
      </div>
      <% FoodCategory.all.each_with_index do |fc, index| %>
      <% food_category_id = fc.name.gsub(' ', '').gsub('&', '').gsub(',','').underscore %>
      <div class="panel panel-default" id="<%= food_category_id %>">
        <a data-toggle="collapse" data-parent="#accordion" href="#<%= "collapse-#{index}"%>" aria-expanded="true" aria-controls="<%= "collapse-#{index}"%>" data-endpoint="<%= search_category_path(fc) %>" id="<%= food_category_id %>">
        <div class="panel-heading" role="tab" id="<%= "heading-#{index}"%>">
          <h4 class="panel-title">
            <%= "#{fc.name}" %> <span class="close-icon pull-right" style="display: none;"><%= fa_icon 'times' %></span>
          </h4>
        </div>
          </a>
        <div id="<%= "collapse-#{index}"%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="<%= "heading-#{index}"%>" data-id="<%= food_category_id %>">
          <div class="panel-body">
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('.panel-collapse').on('show.bs.collapse', function() {
    var $this = $(this);
    var fcId = $this.data('id');

    $this.parent().find('.close-icon').show();
    $(".panel:not(#"+ fcId +")").hide();

    var fcEndpoint = $('a#'+fcId).data('endpoint');

    if (!$this.hasClass('loaded')){
      $.ajax({
        url: fcEndpoint,
        async: false,
        success: function(data) {
          $this.html(data);
          $this.addClass('loaded');
        }
      })
    }
  });

  $('.panel-collapse').on('hide.bs.collapse', function() {
    var fcId = $(this).data('id');
    $(this).parent().find('.close-icon').hide();
    $(".panel:not(#"+ fcId +")").show();
  })
</script>