<%= simple_form_for(@food_diary, :html => { :data => {:validate => 'parsley'}}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.simple_fields_for :participant do |p| %>
      <p>
        <%= f.label 'Participant ID', :pid %>
        <div id="search-wrapper">
          <%= f.select :participant_id, options_from_collection_for_select(Participant.all, :id, :pid), {include_blank: true}, class: 'form-control' %>

        </div>
      </p>
      <div id="participant-details" style="display:none;">
        <p>
          <%= p.label :date_of_birth %>
          <%= p.text_field :date_of_birth, class: 'form-control', :readonly => true%>
        </p>
        <p>
          <%= p.label :gender %>
          <%= p.select :gender, Participant.genders.keys.map {|gender| [gender.titleize,gender]}, {}, { :class => 'form-control', :readonly => true }%>
        </p>
        <p>
          <%= p.label :group %>
          <%= p.text_field :group, class: 'form-control', :readonly => true %>
        </p>
        <p>
          <%= f.input :notify_participant, as: :boolean%>
          <small>By checking this checkbox, the participant will be sent an email with instructions to fill out this food diary. You cannot check this if you have not previous set an email address for the participant.</small>
        </p>
      </div>
      <hr>
      <p>
        <%= f.label :study %>
        <%= f.text_field :study, class: 'form-control', :required => true %>
      </p>
    <% end %>
    <%= f.input :visit, :input_html => {:required => true} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary btn-lg centerize' %>
  </div>
<% end %>

<script>
  $('#food_diary_participant_id').select2();
  $('#food_diary_participant_id').on("change", function(e) {
    var id = $('#food_diary_participant_id').val();
    $.ajax({
      url: "/participants/"+ id +".json",
      dataType: 'json',
      async: false,
      success: function(data) {
        $('#food_diary_participant_gender').val(data.gender);
        $('#food_diary_participant_date_of_birth').val(data.date_of_birth_formatted);
        $('#food_diary_participant_group').val(data.group);

        if (data.email == '') {
          $('#food_diary_notify_participant').prop('checked', false);
          $('#food_diary_notify_participant').prop('disabled', true);
        } else {
          $('#food_diary_notify_participant').prop('disabled', false);
        }

        $('#participant-details').show();
      }
    })
  });
</script>


