<%= simple_form_for(@food_diary, :html => { :data => {:validate => 'parsley'}}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.simple_fields_for :participant do |p| %>
      <p>
        <%= p.label 'Participant ID', :pid %>
        <div id="search-wrapper">
          <%= p.text_field :pid, class: 'form-control', placeholder: 'nn/aa', :required => true, :pattern => '\d{2}\/[a-zA-Z]{2}', "data-parsley-pattern-message" => 'Incorrect format. It must be Participant ID / First and Last Initials'%>
        </div>
      </p>
      <p>
        <%= p.label :date_of_birth %>
        <%= p.date_field :date_of_birth, class: 'form-control', placeholder: 'DD/MM/YYYY', :required => true%>
      </p>
      <p>
        <%= p.label :gender %>
        <%= p.select :gender, Participant.genders.keys.map {|gender| [gender.titleize,gender]}, {}, { :class => 'form-control', :required => true }%>
      </p>
      <p>
        <%= f.label :study %>
        <%= f.text_field :study, class: 'form-control', :required => true %>
      </p>
      <p>
        <%= p.label :group %>
        <%= p.text_field :group, class: 'form-control', :required => true %>
      </p>
    <% end %>
    <%= f.input :visit, :input_html => {:required => true} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary btn-lg centerize' %>
  </div>
<% end %>

<script>

</script>


