<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Food Diary Break Down</h3>
      <h4><%= "Visit Number: #{@food_diary.visit} | Date: #{@food_diary.created_at.strftime('%d/%m/%Y')}" %></h4>
      <h5><%= "Participant: #{@participant.pid} | Group: #{@participant.group} |#{@participant.gender.capitalize} | #{@participant.date_of_birth.strftime('%d/%m/%Y')}" %></h5>
    </div>
  </div>

  <div class="row">
    <div role="tabpanel">
      <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
          <div class="row">
            <div class="col-md-6">
              <div id="total-energy-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="col-md-6">
              <div id="ratio-energy-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
          </div>

          <div class="row">
            <div>
              <ul>
                <li>
                  Your daily total Energy intake is <%= (@overall_total[:total_energy]/3).to_i %>kJ. This is <%= (8700 - @overall_total[:total_energy]/3).to_i.abs %>kJ <%= (@overall_total[:total_energy]/3).to_i > 8700 ? 'higher':'lower' %> than the total energy intake of an average Australian adult for weight maintenance.
                </li>
                <li>
                  <%= @carb_percent %>% of your daily total energy intake comes from Carbohydrate. Your % carbohydrate intake is <%= @carb_text %> the recommended range.
                </li>
                <li>
                  <%= @protein_percent %>% of your daily total energy intake comes from Protein. Your % protein intake is <%= @protein_text %> the recommended range.
                </li>
                <li>
                  <%= @total_fat_percent %>% of your daily total energy intake comes from Fat. Your % fat intake is <%= @total_fat_text %> the recommended range.
                </li>
                <li>
                  <%= @sat_fat_percent %>% of your daily total energy intake comes from Saturated Fat. Your % saturated fat intake is <%= @sat_fat_text %> the recommended range.
                </li>
                <li>
                  Your dietitian can work with you in helping you to achieve a better balance in your diet.
                </li>

              </ul>
            </div>
          </div>

          <table class="table total" hidden>
            <thead>
            <th></th>
            <th>Energy (kJ)</th>
            <th>Energy (Calories)</th>
            <th>Protein (g)</th>
            <th>Total Fat (g)</th>
            <th>Saturated Fat (g)</th>
            <th>Cholesterol (mg)</th>
            <th>Carbohydrate (g)</th>
            <th>Sugars (g)</th>
            <th>Dietary Fibre (g)</th>
            <th>Sodium (mg)</th>
            </thead>
            <tbody>
            <tr>
              <td><strong>Overall Total</strong></td>
              <td><%= @overall_total[:total_energy].round(2) %></td>
              <td><%= @overall_total[:total_energy_c].round(2) %></td>
              <td><%= @overall_total[:total_protein].round(2) %></td>
              <td><%= @overall_total[:total_total_fat].round(2) %></td>
              <td><%= @overall_total[:total_saturated_fat].round(2) %></td>
              <td><%= @overall_total[:total_cholesterol].round(2) %></td>
              <td><%= @overall_total[:total_carbohydrate].round(2) %></td>
              <td><%= @overall_total[:total_sugars].round(2) %></td>
              <td><%= @overall_total[:total_dietary_fibre].round(2) %></td>
              <td><%= @overall_total[:total_sodium].round(2) %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(function () {
    $('#total-energy-chart').highcharts({
      chart: {
        type: 'column'
      },
      credits: {
        enabled: false
      },
      title: {
        text: 'Total Energy Intake'
      },
      xAxis: {
        type: 'category',
        categories: [
          'Average Australian adult for weight maintenance',
          'My intake'
        ],
        labels: {
          style: {
            fontSize: '13px',
            fontFamily: 'Verdana, sans-serif'
          }
        }
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Kilojoules (kJ)'
        }
      },
      legend: {
        enabled: false
      },
      series: [{
        name: 'Total Energy',
        data: [
          {y: 8700},
          {y: <%= (@overall_total[:total_energy]/3).round(2) %>, color: '<%= @overall_total[:total_energy]/3 <= 8700 ? 'yellowgreen':'#ce1126' %>'},
        ],
        dataLabels: {
          format: '{point.y} kJ',
          enabled: true,
          color: '#FFFFFF',
          align: 'center',
          x: 4,
          y: 100,
          style: {
            fontSize: '13px',
            fontFamily: 'Verdana, sans-serif',
            textShadow: '0 0 3px black'
          }
        }
      }]
    });
  });

  $(function () {
    $('#ratio-energy-chart').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: 'Energy Intake Per Day'
      },
      xAxis: {
        categories: ['Carbohydrate', 'Protein', 'Fat', 'Saturated Fat', 'Oceania'],
      },
      yAxis: {
        min: 0,
        title: {
          text: '% total energy intake per day',
        },
        labels: {
          overflow: 'justify'
        }
      },
      credits: {
        enabled: false
      },
      series: [{
        name: 'Recommended minimum daily ratio',
        data: [45, 15, 20, 0]
      }, {
        name: 'Recommended maximum daily ratio',
        data: [65, 25, 35, 10],
        color: '#ce1126'
      }, {
        name: 'My intake',
        data: [<%= @carb_percent %>, <%= @protein_percent %>, <%= @total_fat_percent %>, <%= @sat_fat_percent %>],
        color: 'yellowgreen'
      }],
      plotOptions: {
        series: {
          dataLabels: {
            enabled: true,
            format: '{y}'
          }
        }
      }
    });
  });
</script>

