<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>
        Food Diaries
        <%= link_to food_diaries_path(:format => 'xls') do %>
          <btn class="btn btn-success pull-right p-index-btn" <%= 'disabled' if @food_diaries.empty? %>><%= fa_icon "download" %> Export</btn>
        <% end %>
        <%= link_to new_food_diary_path do %>
          <btn class="btn btn-primary pull-right p-index-btn"><%= fa_icon "plus" %> New Food Diary</btn>
        <% end %>
      </h3>

      <table class="table table-striped" id="food-diary-table">
        <thead>
        <th>Participant ID</th>
        <th>Visit Number</th>
        <th>Date</th>
        <th></th>
        </thead>
        <tbody>
        <% @food_diaries.each do |fd| %>
          <tr>
            <td><%= fd.participant.pid %></td>
            <td><%= fd.visit_number %></td>
            <td><%= fd.created_at.localtime.strftime('%d/%m/%Y %H:%M') %></td>
            <td>
              <%= link_to(fd_day_path(fd, 1), :class => 'btn btn-xs btn-primary') do %>
                <%= fa_icon "book" %> Update Diary
              <% end %>
              <%= link_to(food_diary_breakdown_path(fd), :class => 'btn btn-xs btn-success') do %>
                <%= fa_icon "bar-chart" %> View Breakdown
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  // Initialise the user table
  $('#food-diary-table').dataTable({
    "aoColumnDefs": [
      { 'bSortable': false, 'aTargets': [ 3 ] }
    ],
    "aLengthMenu": [[25, 50, 100, 200, -1], [25, 50, 100, 200, "All"]],
    "iDisplayLength": 25
  });
</script>
