<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>
        Food Diaries
        <div class="btn-group pull-right" role="group">
          <button type="button" class="btn btn-default dropdown-toggle" <%= 'disabled' if @food_diaries.empty? or @studies.empty? %> data-toggle="dropdown" aria-expanded="false">
            <%= fa_icon "download" %> Export Study
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <% @studies.each do |study| %>
              <% unless study.nil? %>
                <li>
                  <%= link_to study, export_study_path(:study_name => study, :format => 'xls')%>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <%= link_to food_diaries_path(:format => 'xls') do %>
          <btn class="btn btn-success pull-right p-index-btn" <%= 'disabled' if @food_diaries.empty? %>><%= fa_icon "download" %> Export All</btn>
        <% end %>

        <%= link_to new_food_diary_path do %>
          <btn class="btn btn-primary pull-right p-index-btn"><%= fa_icon "plus" %> New Food Diary</btn>
        <% end %>
      </h3>
      <%= simple_form_for :food_diaries, :url => fd_delete_selected_path do |f| %>
      <%= f.submit 'Delete Selected', :class => 'btn btn-danger', :data => {:confirm => 'Are you sure you want to delete the selected food diaries?'}%>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger dropdown-toggle" <%= 'disabled' if @food_diaries.empty? or @studies.empty? %> data-toggle="dropdown" aria-expanded="false">
          <%= fa_icon "trash" %> Delete Study
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% @studies.each do |study| %>
            <% unless study.nil? %>
              <li>
                <%= link_to study, delete_study_path(:study_name => study, :format => 'xls'), :data => {:confirm => "Are you sure you want to delete all food diaries in the study '#{study}'"}%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <table class="table table-striped" id="food-diary-table">
        <thead>
        <th><input type="checkbox" id="select-all"/></th>
        <th>Participant ID</th>
        <th>Study</th>
        <th>Intervention Group</th>
        <th>Visit</th>
        <th>Date</th>
        <th></th>
        </thead>
        <tbody>
        <% @food_diaries.each do |fd| %>
          <tr>
            <td><input type="checkbox" class="fd-delete-cb" name="<%= "delete_food_diaries[#{fd.id}]" %>" value="1"/></td>
            <td><%= fd.participant.pid %></td>
            <td><%= fd.study %></td>
            <td><%= fd.participant.group %></td>
            <td><%= fd.visit %></td>
            <td data-order="<%= fd.created_at.to_time.to_i %>"><%= fd.created_at.localtime.strftime('%d/%m/%Y %l:%M %p') %></td>
            <td>
              <%= link_to(fd_day_path(fd, 1), :class => 'btn btn-xs btn-primary') do %>
                <%= fa_icon "book" %> Update Diary
              <% end %>
              <%= link_to(food_diary_breakdown_path(fd), :class => 'btn btn-xs btn-success') do %>
                <%= fa_icon "bar-chart" %> View Breakdown
              <% end %>
              <%= link_to fd, :method => :delete, :data => {:confirm => 'Are you sure you want to delete this food diary?'}, :class => 'btn btn-xs btn-danger' do %>
                <%= fa_icon "trash" %> Delete
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>

<script>
  // Initialise the user table
  $('#food-diary-table').dataTable({
    "aoColumnDefs": [
      { 'bSortable': false, 'aTargets': [ 0 ,6 ] }
    ],
    "order": [[ 5, "asc" ]],
    "aLengthMenu": [[25, 50, 100, 200, -1], [25, 50, 100, 200, "All"]],
    "iDisplayLength": 25
  });

  $('#select-all').on('change', function(e) {
    if (this.checked) {
      $('.fd-delete-cb').prop('checked', true);
    } else {
      $('.fd-delete-cb').prop('checked', false);
    }
  });
</script>
