<table class="table" id="<%= @category.id %>">
  <thead>
    <th>Food</th>
    <th></th>
  </thead>
  <tbody>
    <% @category.foods.each do |food|%>
    <tr>
      <td>
        <div class="draggable" data-food-id="<%= food.id %>" data-food-name="<%= food.name.gsub(/[,](\S)/) { ", #{$1}" } %>" data-serving-size="<%= food.serving_size %>" data-swap-tip="<%= food.swap_tip %>">
          <div class="col-md-4">
          <% unless food.image_path.nil? %>
            <img class="lazy" src="/loading-text.gif" data-src="<%= food.image_path %>" width="50"/>
          <% else %>
            <img class="lazy" src="/loading-text.gif" data-src="/tmp-foods/<%= (0..4).to_a.sample %>.png" height="50"/>
          <% end %>
          </div>
          <div class="col-md-8">
            <div class="row">
              <%= food.name.gsub(/[,](\S)/) { ", #{$1}" } %>
            </div>
            <div class="row">
              <small><%= food.serving_size %></small>
            </div>
          </div>
        </div>
      </td>
      <td>
        <a class="btn btn-default btn-xs add-food-btn" data-food-id="<%= food.id %>"><%= fa_icon 'plus' %></a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<script>
  var table = $('table#<%= @category.id %>');
  // Initialise the food table
  table.dataTable({
    "aoColumnDefs": [
      { 'bSortable': false, 'aTargets': [ 1 ] }
    ],
    "scrollY":        "400px",
    "scrollCollapse": true,
    "paging":         false,
    fnDrawCallback: function() {
      table.find('.lazy:not(.loaded)').each(function() {
        $(this).attr('src', $(this).data('src'));
        $(this).parent().parent().draggable({
          revert: "invalid",
          helper: "clone",
          cursor: "move"
        });
        $(this).addClass('loaded');
      });
      table.find('.add-food-btn:not(.loaded)').each(function() {
        var button = $(this)
        button.on('click', function(e) {
          var food = $(this).parent().parent().find('td').find('.draggable')
          addFoodToPlate(food)
        });
        button.addClass('loaded')
      });
    }
  });
  $('#<%= @category.id %>_wrapper').find('.col-xs-6')[0].remove()
</script>