<div>
  <%= render 'food_search' %>

  <div class="col-md-9 plates-div" style="display:none;">
    <div class="col-md-8 col-md-offset-2 no-plates-div" style="display:none;">
      <div class="form-box text-center">
        <h2>Uh oh! You have no plates!</h2>
        <a class="btn btn-primary btn-lg new-meal-btn">New Meal</a>
        <br>
        <h4>Click this button to create a new meal.</h4>
        <a></a>
      </div>
    </div>
    <div class="row p-row">
      <div class="col-md-6">
        <bplate class="droppable">
          <% @meals.each_with_index do |meal, index| %>
            <div class="food-goes-here <%= 'current-plate' if index==0 %> <%= 'hidden' unless index==0 %>" data-meal-id="<%= meal.id %>" id="<%=index%>">
            <% meal.foods.each do |food|%>
                <% unless food.image_path.nil? %>
                  <img src="<%= food.image_path %>" class="food-on-plate img-circle" height="75" width="75" id="<%= food.id %>" data-toggle="tooltip" data-placement="top" title="<%= food.name %>"/>
                <% else %>
                  <img src="/tmp-foods/<%= (0..4).to_a.sample %>.png" class="food-on-plate" height="75" id="<%= food.id %>" data-toggle="tooltip" data-placement="top" title="<%= food.name %>"/>
                <% end %>
            <% end %>
            </div>
          <% end %>
          <% if @meals.empty? %>
            <div class="food-goes-here current-plate" id="0"></div>
            <div class="food-goes-here hidden" id="1"></div>
            <div class="food-goes-here hidden" id="2"></div>
            <div class="food-goes-here hidden" id="3"></div>
            <div class="food-goes-here hidden" id="4"></div>
          <% end %>
          </bplate>
          </div>
    <div class="plate-details col-md-5 col-md-offset-1 form-box">
      <h3>Day <%= @day %></h3>
      <div class="pd-wrapper">
        <% @meals.each_with_index do |meal, index| %>
          <div class="plate-detail <%= 'current-plate-details' if index==0 %> <%= 'hidden' unless index==0 %>" id="<%= index %>" data-meal-id="<%= meal.id %>">
            <input class="form-control meal-name" placeholder="Meal Name" value="<%= meal.name %>"></input>
            <table class="table tableSection">
              <thead>
              <th>Food</th>
              </thead>
              <tbody>
              <tr class="delete-after-first" style="display:none;">
                <td>
                  Nothing has been added yet. You can add food to this meal by dragging and dropping from the search bar.
                </td>
              </tr>
              <% meal.foods.each do |food| %>
                <tr class="food" data-food-id="<%= food.id %>">
                  <td><%= food.name %></td>
                </tr>
              <%end %>
              </tbody>
            </table>
          </div>
        <% end %>
        <% if @meals.empty? %>
          <% @default_plates.each_with_index do |name, index| %>
          <div class="plate-detail <%= 'current-plate-details' if index==0 %> <%= 'hidden' unless index==0 %>" id="<%= index %>">
            <input class="form-control meal-name" placeholder="Meal Name" value="<%= name %>"></input>
            <table class="table tableSection">
              <thead>
              <th>Food</th>
              </thead>
              <tbody>
              <tr class="delete-after-first">
                <td>
                  Nothing has been added yet. You can add food to this meal by dragging and dropping from the search bar.
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <% end %>
        <% end %>
      </div>
      <div class="buttons text-center">
        <a class="btn btn-warning btn-lg" id="empty-plate-btn"><%= fa_icon "ban" %> Empty Plate</a>
        <a class="btn btn-danger btn-lg" id="delete-meal-btn"><%= fa_icon "trash-o" %> Delete Meal</a>
      </div>
    </div>
    <div>

    </div>
  </div>

  <div class="row">
    <div class="game-wrapper col-md-12">
      <div class="table-wrapper" style="opacity: 1;">
        <div class="table">
          <div class="plates">
            <% @meals.each_with_index do |meal, index| %>
              <plate data-meal-id="<%= meal.id %>" class="<%= 'strobe' if index == 0 %>" id="<%=index%>">
                <div class="food-counter"><%= meal.foods.count %></div>
                <div class="food-label"><span class="label label-<%= meal_label_color(meal.name) %>"><%= meal.name %></span></div>
              </plate>
            <% end %>
            <% if @meals.empty? %>
              <% @default_plates.each_with_index do |name, index| %>
              <plate id="<%= index %>" class="<%= 'strobe' if index==0 %>">
                <div class="food-counter">0</div>
                <div class="food-label"><span class="label label-<%= meal_label_color(name) %>"><%= name %></span></div>
              </plate>
              <% end %>
            <% end %>
          </div>
          <div class="pull-left">
            <% if @day.to_i > 1%>
              <a class="btn btn-danger btn-lg previous-day-btn" href="<%= "#{food_diary_path(@food_diary)}/#{@day.to_i-1}" %>">Previous Day</a>
            <% end %>
          </div>
          <div class="pull-right">
            <%= form_tag(next_day_path(@food_diary, @day.to_i), method: 'post' ) do %>
              <input hidden name="meals_json" id="meals_json"></input>
              <a class="btn btn-primary btn-lg new-meal-btn"><%= fa_icon "plus" %> New Meal</a>
              <% if @day.to_i < 3%>
                <input class="btn btn-success btn-lg next-day-btn" type="submit" value="Next Day">
              <% else %>
                <input class="btn btn-success btn-lg next-day-btn" type="submit" value="Complete Food Diary">
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="table-edge" style="opacity: 1;">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>

  <!---->
//  var trashHtml = '<div class="col-xs-6"><div class="trash" data-toggle="tooltip" data-placement="left" title="Drag and drop food here to remove it from a plate."><i class="fa fa-trash"></div></div>'
//  $('.col-xs-6').first().after(trashHtml)
  $('[data-toggle="tooltip"]').tooltip()

  onLoadDo();

  function onLoadDo() {

    var plateCounter = $('.plate-detail').length;

//    $table.$('tr').each(function(index) {
//      setDrag($(this).find('.draggable'));
//    })

    setFoodOnPlateDraggable();

    $(".droppable").droppable({
      accept: '.draggable',
      drop: function(event, ui) {
        var foodId = $(ui.draggable).data('food-id');
        var foodName = $(ui.draggable).data('food-name');
        $('.current-plate').append($(ui.draggable).clone()
            .find('img')
            .attr('height', '75')
            .attr('width', '75')
            .addClass('food-on-plate img-circle')
            .attr('data-toggle', 'tooltip')
            .attr('data-placement', 'top')
            .attr('title', foodName));

        var trHtml = '<tr class="food" data-food-id="'+ foodId +'"><td>' + foodName + '</td></tr>';
        $('.current-plate-details .delete-after-first').hide();
        $('.current-plate-details').find('tbody').append(trHtml);
        updateFoodCounter();
        $('[data-toggle="tooltip"]').tooltip()

        setFoodOnPlateDraggable();
      }
    });

    $(".trash").droppable({
      accept: '.food-on-plate',
      drop: function(event, ui) {
        var foodId = $(ui.draggable).attr('id');
        $(ui.draggable).remove();
        $('.current-plate-details tr.food[data-food-id='+ foodId +']').first().remove();
        if ($('.current-plate-details tr.food').length < 1) {
          $('.current-plate-details .delete-after-first').show();
        }
        updateFoodCounter();

        $('.tooltip.in').hide();
      }
    });

    $('.plates-div').toggle( "slide", {direction: 'right'}, 500);

    $('.food-search-bar').toggle( "slide", {direction: 'left'}, 500);

    applyPlateOnClick();

    $('.new-meal-btn').on('click', function(e) {
      var id = plateCounter;
      $('.strobe').removeClass('strobe');
      $('.plates').append('<plate id="'+ id +'" class="strobe"><div class="food-counter">0</div><div class="food-label"><span class="label label-default">Meal #'+ (id+1) + '</span></div></plate>');

      $('.current-plate').removeClass('current-plate').addClass('hidden');
      $('bplate').append('<div class="food-goes-here current-plate" id="'+ id +'"></div>');

      var html = '<div class="plate-detail current-plate-details" id="'+ id +'">' +
          '<input class="form-control meal-name" placeholder="Meal Name" value="Meal #'+ (id+1) + '"></input>' +
          '<table class="table tableSection">' +
          '<thead>' +
          '<th>Food</th>' +
          '</thead>' +
          '<tbody>' +
          '<tr class="delete-after-first">' +
          '<td>' +
          'Nothing has been added yet. You can add food to this meal by dragging and dropping from the search bar.' +
          '</td>' +
          '</tr>' +
          '</tbody>' +
          '</table>' +
          '</div>'

      $('.current-plate-details').removeClass('current-plate-details').addClass('hidden');
      $('.pd-wrapper').append(html);
      applyPlateOnClick();
      plateCounter++;

      $('.no-plates-div').hide();
      $('.p-row').show();
    });

//    EMPTY PLATE BUTTON
    $('#empty-plate-btn').on('click', function(e) {
      var result = confirm("Are you sure you want to empty this plate?");
      if (result==true) {
        $('.current-plate').html('');
        $('.current-plate-details').find('tr.food').remove();
        $('.current-plate-details .delete-after-first').show();
        updateFoodCounter();
      }
    });

//    DELETE MEAL BUTTON
    $('#delete-meal-btn').on('click', function(e) {

      var result = confirm("Are you sure you want to delete this meal?");
      if (result==true) {
        $('.current-plate').remove();
        $('.current-plate-details').remove();
        $('.strobe').remove();
        var lastId = $('.plate-detail').last().attr('id')
        togglePlates(lastId);

        if ($('.plate-detail').length < 1) {
          $('.p-row').hide();
          $('.no-plates-div').show();
        }
      }
    });

//    Next Day Button
    $('.next-day-btn').on('click', function(e) {
      var meals = platesToJson();

      if (meals.length < 1) {
        alert('Your plates are empty! Please add food to them before proceeding.');
        e.preventDefault();
      }
      else {
        $('input#meals_json').val(JSON.stringify(meals));
        return true;
      }
    })
  }

  function platesToJson() {
    var plates = [];
    $('.plate-detail').each(function(index) {

      if ($(this).find('tr.food').length < 1) {
        return true;
      }

      var json = {};
      var mealId = $(this).data('meal-id');

      if (typeof mealId !== 'undefined') {
        json.meal_id = mealId;
      }

      var foods = []

      $(this).find('tr.food').each(function() {
        foods.push($(this).data('food-id'));
      })

      json.name = $(this).find('input.meal-name').val();
      json.foods = foods;
      json.day = <%= @day %>;
      json.food_diary_id = <%= @food_diary.id %>;

      plates.push(json);
    })
    return plates;
  }

  function setDrag(obj) {
    obj.draggable({
      revert: "invalid",
      helper: "clone",
      cursor: "move"
    });
  }

  function setFoodOnPlateDraggable() {
    $('.food-on-plate').draggable({
      revert: "invalid",
      cursor: 'move'
    });
  }

  function applyPlateOnClick() {
    $('plate').on('click', function(e) {
      if ($(this).hasClass('strobe')) {
        return;
      }
      else {
        togglePlates($(this).attr('id'));
      }
    })
  }

  function togglePlates(id) {
    $('.strobe').removeClass('strobe')
    $('.current-plate-details').removeClass('current-plate-details').addClass('hidden');
    $('.current-plate').removeClass('current-plate').addClass('hidden');

    $('plate[id='+ id +']').addClass('strobe');
    $('.plate-detail[id='+ id +']').removeClass('hidden').addClass('current-plate-details');
    $('.food-goes-here[id='+ id +']').removeClass('hidden').addClass('current-plate');
  }

  function updateFoodCounter() {
    var foodCounter = $('.strobe .food-counter');
    foodCounter.html($('.current-plate').find('img').length);
  }
</script>
