<div>
  <div class="col-md-3 food-search-bar" style="display:none;">
    <div class="food-wrapper">
      <h3>Foods</h3>
      <div class="foods">
        <table class="table table-striped" id="foods-table">
          <thead>
          <th>Food</th>
          </thead>
          <tbody>
          <% Food.all.each do |food| %>
            <tr>
              <td data-search="<%= "#{food.name} #{food.food_category.name}" %>" data-order="<%= food.name %>">
                <div class="draggable" data-food-id="<%= food.id %>" data-food-name="<%= food.name %>">
                  <img src="/tmp-foods/<%= (0..4).to_a.sample %>.png" height="50" id="<%= food.id %>"/>
                  <%= food.name %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-9 plates-div" style="display:none;">
    <div class="row">
      <div class="col-md-6">
        <bplate class="droppable">
          <% @food_diary.meals.each_with_index do |meal, index| %>
            <div class="food-goes-here <%= 'current-plate' if index==0 %> <%= 'hidden-plate' unless index==0 %>" data-meal-id="<%= meal.id %> id="<%= index %>">
            <% meal.foods.each do |food|%>
              <img src="/tmp-foods/<%= (0..4).to_a.sample %>.png" height="75" id="<%= food.id %>"/>
            <% end %>
            </div>
          <% end %>
          <% if @food_diary.meals.empty? %>
            <div class="food-goes-here current-plate" id="0"></div>
          <% end %>
          </bplate>
          </div>
    <div class="plate-details col-md-4 form-box">
      <h3>Day <%= @day %></h3>
      <div class="pd-wrapper">
    <% @food_diary.meals.each_with_index do |meal, index| %>
      <div class="plate-detail <%= 'current-plate-details' if index==0 %> <%= 'hidden' unless index==0 %>" id="<%= index %>">
        <h4>Meal #<%= index+1 %></h4>
        <input class="form-control" placeholder="Meal Name" value="<%= meal.name %>"></input>
        <table class="table tableSection">
          <thead>
          <th>Food</th>
          </thead>
          <tbody>
          <% meal.foods.each do |food| %>
            <tr>
              <td><%= food.name %></td>
            </tr>
          <%end %>
          </tbody>
        </table>
      </div>
    <% end %>
    <% if @food_diary.meals.empty? %>
      <div class="plate-detail current-plate-details" id="0">
        <h4>Meal #1</h4>
        <input class="form-control" placeholder="Meal Name"></input>
        <table class="table tableSection">
          <thead>
          <th>Food</th>
          </thead>
          <tbody>
          <tr class="delete-after-first">
            <td>
            Nothing has been added yet. You can add food to this meal by dragging and dropping from the search bar.
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    <% end %>
      </div>
      <div class="buttons">
      <a class="btn btn-danger btn-lg" id="empty-plate-btn">Empty Plate</a>
      <!--<a class="btn btn-danger btn-lg" id="delete-meal-btn">Delete Meal</a>-->
      </div>
    </div>
    <div>

    </div>
  </div>

  <div class="row">
    <div class="game-wrapper col-md-12">
      <div class="table-wrapper" style="opacity: 1;">
        <div class="table">
          <div class="plates">
            <% @food_diary.meals.each_with_index do |meal, index| %>
              <plate data-meal-id="<%= meal.id %>" class="<%= 'strobe' if index == 0 %>" id="<%=index%>">
                <div class="food-counter"><%= meal.foods.count %></div>
              </plate>
            <% end %>
            <% if @food_diary.meals.empty? %>
              <plate id=0 class="strobe">
                <div class="food-counter">0</div>
              </plate>
            <% end %>
          </div>
          <div class="pull-right">
            <a class="btn btn-primary btn-lg" id="new-meal-btn">New Meal</a>
            <a class="btn btn-success btn-lg">Next Day</a>
          </div>
        </div>
        <div class="table-edge" style="opacity: 1;">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  // Initialise the food table
  var $table = $('#foods-table').dataTable({
    iDisplayLength: 7,
    bLengthChange: false,
    pagingType: 'simple',
  });

  $('.col-xs-6').first().remove();

  $(window).load(function(){

    $table.$('tr').each(function(index) {
      setDrag($(this).find('.draggable'));
    })

    function setDrag(obj) {
      obj.draggable({
        revert: "invalid",
        helper: "clone",
        cursor: "move"
      });
    }

    $(".droppable").droppable({
      accept: '.draggable',
      drop: function(event, ui) {
        $('.current-plate').append($(ui.draggable).clone().find('img').attr('height', '75'));
        var foodId = $(ui.draggable).data('food-id');
        var foodName = $(ui.draggable).data('food-name');

        var trHtml = '<tr class="food" data-food-id="'+ foodId +'"><td>' + foodName + '</td></tr>';
        $('.delete-after-first').hide();
        $('.current-plate-details').find('tbody').append(trHtml);
        updateFoodCounter();
      }
    });

    $('.food-search-bar').toggle( "slide");

    $('.plates-div').toggle( "slide");

    applyPlateOnClick();

    $('#new-meal-btn').on('click', function(e) {
      var id = $('plate').length;
      $('.strobe').removeClass('strobe');
      $('.plates').append('<plate id="'+ id +'" class="strobe"><div class="food-counter">0</div></plate>');

      $('.current-plate').removeClass('current-plate').addClass('hidden');
      $('bplate').append('<div class="food-goes-here current-plate" id="'+ id +'"></div>');

      var html = '<div class="plate-detail current-plate-details" id="'+ id +'">' +
          '<h4>Meal #'+ (id+1) +'</h4>' +
          '<input class="form-control" placeholder="Meal Name"></input>' +
          '<table class="table tableSection">' +
          '<thead>' +
          '<th>Food</th>' +
          '</thead>' +
          '<tbody>' +
          '<tr class="delete-after-first">' +
          '<td>' +
          'Nothing has been added yet. You can add food to this meal by dragging and dropping from the search bar.' +
          '</td>' +
          '</tr>' +
          '</tbody>' +
          '</table>' +
          '</div>'

      $('.current-plate-details').removeClass('current-plate-details').addClass('hidden');
      $('.pd-wrapper').append(html);
      applyPlateOnClick();
    });

    function applyPlateOnClick() {
      $('plate').on('click', function(e) {
        if ($(this).hasClass('strobe')) {
          return;
        }
        else {
          togglePlates($(this).attr('id'));
        }
      })
    }

    function togglePlates(id) {
      $('.strobe').removeClass('strobe')
      $('.current-plate-details').removeClass('current-plate-details').addClass('hidden');
      $('.current-plate').removeClass('current-plate').addClass('hidden');

      $('plate[id='+ id +']').addClass('strobe');
      $('.plate-detail[id='+ id +']').removeClass('hidden').addClass('current-plate-details');
      $('.food-goes-here[id='+ id +']').removeClass('hidden').addClass('current-plate');
    }

    $('#empty-plate-btn').on('click', function(e) {
      $('.current-plate').html('');
      $('.current-plate-details').find('tr.food').remove();
      $('.delete-after-first').show();
      updateFoodCounter();
    });

    function updateFoodCounter() {
      var foodCounter = $('.strobe .food-counter');
      foodCounter.html($('.current-plate').find('img').length);
    }
  });

</script>
