<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Boden Food Plate" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Boden Food Plate" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body id="<%= 'landing' if params[:controller] == 'visitors' && params[:action] == 'index' %>">
<% unless @hide_layout %>
  <div id="wrap">
    <%= render 'layouts/navigation' unless @hide_nav %>

    <div class="container main">
      <div class="row">
        <%= render 'layouts/messages' %>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <div id="push"></div>
  </div>
  <div id="footer" style="background-color:#fff;">
    <div class="container">
      <%= image_tag '/boden_logo.jpg', height: 60, class: 'logo' %>
      <%= image_tag '/usyd_logo.jpg', height: 75, class: 'logo' %>
    </div>
    <small>Developed by Khanh Nguyen <a href="http://au.linkedin.com/in/khanh2907" target="_blank"><%= fa_icon 'linkedin-square' %></a> <a href="https://github.com/khanh2907" target="_blank"><%= fa_icon 'github-square' %></a></small>
  </div>
<% else %>
  <div style="padding-top: 20px;"></div>
  <%= yield %>
<% end %>

</body>
</html>
