<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Electronic Food Diary" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Electronic Food Diary" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <% unless @hide_nav %>
      <%= render 'layouts/navigation' %>
      <% else %>
        <div style="padding-top: 50px;"></div>
      <% end %>
    </header>

    <main role="main">
      <% unless @hide_nav %>
       <%= render 'layouts/messages' %>
      <% end %>
       <%= yield %>
    </main>
  </body>
</html>
